* text=auto eol=lf

# Shell scripts must always be LF (run on Linux containers)
*.sh text eol=lf
*.ps1 text eol=crlf

# Visual Studio solution & csproj traditionally CRLF
*.sln text eol=crlf
*.csproj text eol=crlf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.pdf binary
